body {
  font-family: 'Gotham Rounded';
}

h2 {
  font-size: 36px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffff;
}

h3 {
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffff;
}

h4 {
  font-size: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffff;
}

h5 {
  font-size: 20px;
  text-transform: uppercase;
}

h6 {
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #16A085;
}

p {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 24px;
  text-align: left;
}

button, .btnSmall, .btnLarge {
  border: none;
  background-color: #16A085;
  color: #ffff;
  font-family: 'Gotham Rounded';
  text-transform: uppercase;
  cursor: pointer;
}

.btnSmall {
  width: 170px;
  height: 52px;
  font-size: 12px;
  margin-top: 24px;
}

.btnLarge {
  width: 242px;
  height: 59px;
  font-size: 16px;
  background: #16a0849a;
}

.btnIcon {
  width: 58px;
  height: 59px;
  color: #16A085;
}

i {
  color: #ffff;
}

.flickity-prev-next-button {
  top: 80px;
  -webkit-transform: none;
  transform: none;
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  p {
    text-align: center;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 6.25vw;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button, .btnSmall, .btnLarge,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button, .btnSmall, .btnLarge,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner, .btnSmall::-moz-focus-inner, .btnLarge::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring, .btnSmall:-moz-focusring, .btnLarge:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  width: 100%;
  float: left;
  min-height: 1px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

body {
  margin: 0 auto;
}

body section {
  height: auto;
}

body section .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
}

.hero {
  background-image: url(https://github.com/adriannadyga/14/blob/master/images/hero_Easy-Resize.com.jpg?raw=true);
  width: 100%;
  height: 150vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.hero nav {
  position: relative;
  padding-top: 80px;
}

.hero nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.hero nav ul li {
  display: inline-block;
  padding: 0 70px;
}

.hero nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffff;
}

.hero .hero-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  text-align: center;
}

.hero .hero-icons {
  position: absolute;
  top: 143%;
  left: 50%;
  transform: translate(-50%);
  font-size: 30px;
}

.hero .hero-icons i {
  padding: 0 5px;
}

@media (max-width: 768px) {
  .hero nav ul li {
    display: block;
    padding: 10px 0;
  }
}

.get-started {
  padding-top: 120px;
  background-color: #f5f6f7;
}

@media (max-width: 768px) {
  .get-started .container .col-8 {
    display: none;
  }
}

.design .container {
  margin-top: 200px;
}

.design .container .col-4 {
  position: relative;
}

.design .container .col-4 .main-carousel .carousel-cell {
  width: 100%;
  margin-right: 10px;
}

.design .container .col-4 .main-carousel .flickity-prev-next-button.previous {
  top: 350px;
  left: 20px;
}

.design .container .col-4 .main-carousel .flickity-prev-next-button.next {
  top: 350px;
  left: 60px;
}

.design .container .col-4 .btnUp {
  position: absolute;
  top: 250px;
}

.design .container .col-4 .carousel-status {
  position: absolute;
  top: 320px;
  right: 320px;
}

@media (max-width: 768px) {
  .design .container .col-6,
  .design .container .col-2 {
    display: none;
  }
  .design .container .col-4 .main-carousel .flickity-prev-next-button.previous {
    display: none;
  }
  .design .container .col-4 .main-carousel .flickity-prev-next-button.next {
    display: none;
  }
  .design .container .col-4 .carousel-status {
    display: none;
  }
  .design .container .col-s-12 .btnUp {
    position: static;
  }
}

.community {
  background: #f5f6f7e1;
}

.community .container {
  padding: 100px 0 100px 0;
  text-align: center;
}

.community .container .col-2 h3 {
  color: #000000;
  text-transform: uppercase;
}

.community .container .col-2 p {
  font-size: 10px;
}

.community .container .col-9 {
  position: relative;
}

.community .container .col-9 .main-carousel .carousel-cell {
  width: 100%;
  height: 100%;
  min-height: 500px;
  margin-right: 10px;
  background-size: cover;
}

.community .container .col-9 .main-carousel .carousel-cell img {
  padding-right: 30px;
}

.community .container .col-9 .main-carousel .flickity-prev-next-button.previous {
  top: -30px;
  left: 750px;
  background: #f5f6f7e1;
}

.community .container .col-9 .main-carousel .flickity-prev-next-button.next {
  top: -30px;
  right: 80px;
  background: #f5f6f7e1;
}

.community .container .col-9 .carousel-status {
  position: absolute;
  top: 320px;
  right: 320px;
}

@media (max-width: 768px) {
  .community .container .col-9 .main-carousel .flickity-prev-next-button.previous {
    display: none;
  }
  .community .container .col-9 .main-carousel .flickity-prev-next-button.next {
    display: none;
  }
}

.hero2 {
  background-image: url(https://github.com/adriannadyga/14/blob/master/images/hero2-min.png?raw=true);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.hero2 .container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.hero2 .container .hero2-text {
  width: 100%;
}

.hero2 .container .input-container input {
  width: 283px;
  height: 63px;
}

.hero2 .container .input-container input::placeholder {
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 18px;
}

.hero2 .container .input-container button, .hero2 .container .input-container .btnSmall, .hero2 .container .input-container .btnLarge {
  position: absolute;
  width: 63px;
  height: 63px;
  background-color: #16A085;
}

.hero2 .container .input-container button i, .hero2 .container .input-container .btnSmall i, .hero2 .container .input-container .btnLarge i {
  font-size: 20px;
}

@media (max-width: 768px) {
  .hero2 .container .input-container input {
    width: 200px;
  }
}

.download {
  background-color: #f5f6f7e1;
}

.download .container {
  position: relative;
  padding: 100px 0 50px 0;
  text-align: center;
}

.download .container h3 {
  color: #000000;
}

.download .container .col-5 .btnIcon {
  position: absolute;
}

.download .container .col-5 .btnIcon i {
  font-size: 30px;
}

.download .container .right {
  text-align: right;
}

.download .container .left {
  text-align: left;
}

@media (max-width: 320px) {
  .download .container .right {
    text-align: left;
  }
}

.footer .container {
  padding-top: 50px;
}

.footer .container .right {
  text-align: right;
}

.footer .container .col-6 ul {
  list-style-type: none;
}

.footer .container .col-6 ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
}

.footer .container .col-6 ul li:not(:nth-child(3)) {
  border-right: 2px solid #16A085;
  padding-right: 5px;
}

/*# sourceMappingURL=style.css.map */