.design {
    .container {
        margin-top: 200px;
        .col-4 {
            position: relative;
            .main-carousel {
                .carousel-cell {
                    width: 100%;
                    margin-right: 10px;       
                }
                .flickity-prev-next-button.previous {
                    top: 350px;
                    left: 20px;
                }
                .flickity-prev-next-button.next {
                    top: 350px;
                    left: 60px;
                }
            }
            .btnUp {
                position: absolute;
                top: 250px;
            }
            .carousel-status {
                position: absolute;
                top: 320px;
                right: 320px;
            }
        }
    }
}

@media (max-width: 768px) {
    .design {
        .container {
            .col-6, 
            .col-2 {
                display: none;
            }
            .col-4 {
                .main-carousel {
                    .flickity-prev-next-button.previous {
                        display: none;
                    }
                    .flickity-prev-next-button.next  {
                        display: none;
                    }
                }
                .carousel-status {
                    display: none;
                }
            }
            .col-s-12 {
                .btnUp {
                    position: static;
                }
            }
        }
    }
}