.design {
    .container {
        margin-top: 200px;
        .col-4 {
            position: relative;
            .btnUp {
                position: absolute;
                top: 250px;
            }
        }
    }
}

@media (max-width: 768px) {
    .design {
        .container {
            .col-6, 
            .col-2 {
                display: none;
            }
            .col-s-12 {
                .btnUp {
                    position: static;
                }
            }
        }
    }
}