.get-started {
    padding-top: 120px;
    background-color: #f5f6f7;
}

@media (max-width: 768px) {
    .get-started {
        .container {
            .col-8 {
                display: none;
            }
        }
    }
}